PORT=3000
INITIAL_CAPITAL=1
TRADING_ENABLED=false
STOCKS=AAPL,MSFT,GOOGL
MAX_POSITION_SIZE=0.2
MAX_LOSS_PERCENT=2
MIN_GAIN_PERCENT=1.5
STRIPE_SECRET_KEY=sk_live_...
STRIPE_PUBLISHABLE_KEY=pk_live_51U4WbDJZablO5C1MytBcgqwqAXzlT1ZsLMed4EiuzEmfCPQtjw9dxUZkRBR7EbsBquhJRzUHKk7MQevHPPGf3l8400NrNgay6m
STRIPE_WEBHOOK_SECRET=whsec_...
